@import "tailwindcss/base";

:root {
  --blue: #4290F5;
  --red: #FE6D73;
  --grey: #E0E1E6;
  --white: #FAFBFF;
  --black: #000000;
  --transparent: rgba(0, 0, 0, 0);
}

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

@font-face {
  font-family: 'din';
  src: url('../assets/fonts/din-round-500.woff2') format('woff2'),
      url('../assets/fonts/din-round-500.woff') format('woff'),
      url('../assets/fonts/din-round-500.ttf') format('truetype');
}


@font-face {
  font-family: 'din-bold';
  src: url('../assets/fonts/din-round-700.woff2') format('woff2'),
      url('../assets/fonts/din-round-700.woff') format('woff'),
      url('../assets/fonts/din-round-700.ttf') format('truetype');
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arbutus Slab', serif;
  font-size: 24px;
}

@import "tailwindcss/components";

.btn {
  padding-top: 14px;
  padding-bottom: 13px;
  background-color: var(--blue);
  border-radius: 6px;
  color: var(--white);
}

.checkbox-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 14px 20px;
  
  input {
    visibility: hidden;

    &:checked {
      & + svg {
        visibility: visible;
      }
    }
  }

  svg {
    visibility: hidden;
  }

  
}

@import "tailwindcss/utilities";

